doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        title Fast-Food
    body 
        header.fast-food 
            h1 Book Cafee
            h2 Fast-Food #[br]  #[span 24/7]
            a(href="../html/menu.html")
                button ➡️ Bosh Menu: ⬅️
            h3 Pitsa 
            ol 
                .pop 
                    li kolbasalik. 70 ming
                    li go'shtli. 70 ming
                    li tovuq go'shtli. 70 ming
                    li aralash. 70 ming
                img(src="../images/img/piza.svg", alt="rasm")
            h3 lavsh
            ol 
                .pop 
                    li Sirli lavash. 30/35 ming
                    li lavash. 25/30. ming 
                    li tandir lavash. 35ming 
                img(src="../images/img/lavash.jpg", alt="rasm").lavash
            h3 Shourma 
            ol 
                .pop 
                    li Shourma. 20/25 ming
                    li Big shourma. 35 ming 
                img(src="../images/img/shourma.jpg", alt="rasm").shourma
            h3 Nonli HotDog / Bulichkalik Hotdog
            ol 
                .pop 
                    li Yegerskiy hot dok.13 ming
                    li Kichik hot dok. 10 ming 
                    li Go`shtli hot dok. 17 ming 
                    li Kolbasali hot dok. 20 ming
                img(src="../images/img/xotdog.jpg", alt="rasm").xotdog
            h3 Burger 
            ol 
                .pop 
                    li burger (bir katletli). 20 ming
                    li burger (ikki katletli). 30 ming 
                    li Chizburger (bir katletli). 25 ming 
                    li Chizburger (ikki katletli). 35 ming
                    li Bigburger. 40/45 ming
                img(src="../images/img/burger.jpg", alt="rasm").burger
            h3 Xaggi    
            ol 
                .pop 
                    li Katta xagi. . .
                    li kolbasali xaggi. . .
                    li Kichik xagi. . .
            h3 Donar Food
            img(src="../images/img/donar.jpg", alt="rasm").donar
            //- p 100gr 20ming
            h3 Kartoshkali Fri
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStLf7PM1L4RhjNsZMb7mH7C4K4A-A0MRDlhQ&usqp=CAU", alt="rasm").fri
            p  15ming so'm!!!