.ichimliklar {
    width: 412px;
    background-color: black;
    color: white;
        h1 {
            font-size: 40px;
            color: gold;
            text-align: center;
            font-family: "Kode Mono", monospace;
        }
        h2 {
            font-size: 30px;
            color: white;
            text-align: center;
            font-family: "Protest Guerrilla", sans-serif;
        }
        span {
            margin-left: 150px;
        }
        a {
            color: white;
                button {
                    width: 400px;
                    height: 40px;
                    margin-left: 5px;
                    border: 2px solid white;
                    background-color: black;
                    border-radius: 4px;
                    color: white;
                    font-size: 24px;
                }
        }
        h3 {
            margin-top: 15px;
            text-align: center;
            font-size: 30px;
            font-family: "Dancing Script", cursive;
        }
        ol {
            margin-left: 30px;
                li {
                    margin-top: 15px;
                    font-family: "Caveat", cursive;
                }
                img {
                    width: 412px;
                    margin-left: -30px;
                    margin-top: 5px;
                }
        }
        .box {
            display: flex;
                img {
                    width: 230px;
                    height: 350px;
                    margin-left: 20px;
                }
                .milk {
                    width: 200px;
                    height: 160px;
                    margin-left: 40px;
                }
                .smuzi {
                    width: 240px;
                    height: 230px;
                    margin-left: 20px;
                }
        }
}